@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}
input,button,a {
  outline:0 none !important; blr:expression(this.onFocus=this.blur());
}
#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}
.main-box{
  margin:10px 20px;
  position: relative;
  .page-title{
    font-size:14px;
    color: #333333;
    border-bottom: 1px solid #f0f0f0;
    //padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 45px;
    .el-page-header__content{
      font-size: 14px;
      color: #333333;
    }
    .el-page-header{
      margin-top: 10px;
    }
    .el-page-header__title{
      font-weight: 200;
      color: #666666;
    }
  }
  label{
    font-weight: normal;
  }
}
.align-right{
  text-align: right;
}
.align-left{
  text-align: left;
}
.table-cell{
  font-size: 14px;
}
.page-wrap{
  margin: 20px 0;
}
